<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Amy's Easy Nails VIPs</title>

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <header id="header" class="hidden-print">
      <nav id="navbar-primary" class="navbar navbar-default show-avatar sticky">
        <div class="container-fluid">
          <div class="navbar-primary-collapse" class="collapse navbar-collapse">
            <div class="nav navbar-nav" style="margin: 0;">
              <div class="navbar-left hidden-sm hidden-xs">
                <a class="logo-nav" href="/easynailsvip">
                  <img src="/assets/images/logo-horizontal.jpg" alt="Color Street Logo">
                </a>
              </div>
              <div style="margin-right: auto;">
                Amy Shelton, Color Street independent stylist
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN CONTENT -->
    <div class="container-fluid">
      <div id="content-area">
        {{ content }}
      </div>
    </div>

    <!-- FOOTER  -->
    <div id="footer" class="footer-section">
      <div class="footer-background">
        <div class="container">
          <div class="row">
            <p>#BeColorful #BeBrilliant #BeColorStreet</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
